.venv
venv/
ENV/
.ve
.tox

*docker-compose*.yml
*.pyc
.gitlab-ci.yaml
Makefile
README.md

.git/
.gitignore
.gitattributes
.gitmodules
.bzr/
.bzrignore
.hg/
.hgignore
.dockerignore
.pre-commit*
.svn/

*.swp
*.bak
*.tmp
*.orig
*~
*.png

.project
.idea/
*.tmproj
.vscode/
.DS_Store
.python-version
.pkl
